{
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "no-nested-ternary": 0
  }
}